.nav {
  width: 100%;
  height: 8rem;
  padding: 2rem;

  background: var(--color-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  position: fixed;

  &__brand {
    font-size: 3rem;
    flex: 1;
  }

  &__input-box {
    display: flex;
    align-items: center;
    gap: 1rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }

  &__input-label {
    font-size: 2rem;
  }

  &__input-select,
  &__input-search {
    min-width: 20rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 300;
    background: var(--color-primary-light);
    padding: 5px 10px;
  }

  &__input-select {
    cursor: pointer;
  }
}
