// ********************
// Font import
// ********************

// Raleway
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway.woff);
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Thin.woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Italic.woff");
  font-weight: 400;
  font-style: italic;
}
